.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--main-color);
  height: 200px;
  position:absolute;
  left: 200px;
  right: 0;
}
.footer p {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.footer small {
  color: rgba(255, 255, 255, 0.779);
  font-size: 16px;
  font-weight: 400;
}