.revenue {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width:50px;
  height: 50px;
  border-radius: 50%;
  background: var(--sub-color);
  color: var(--main-color);
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenue:hover {
  cursor: pointer;
  transform: scale(120%);
}

.display-revenue {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 150px;
  right: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease-out;
  border:1px solid var(--sub-color);
  background: var(--main-color);
  overflow: hidden;
}

.modal-header {
  border-bottom: 1px solid var(--sub-color);
  background : var(--sub-color);
  color: var(--main-color);
  font-weight: 400;
  font-size: 16px;
}

.modal-body {
  flex: 6;
  border-bottom: 1px solid var(--sub-color);
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal-body .revenue-option {
  flex: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.modal-body .revenue-custom {
  flex:1;
  display: flex;
  justify-content: end;
  padding-right: 24px;
}
.modal-body .revenue-custom a {
  text-decoration: none;
  color: var(--sub-color);
  font-size: 16px;
  font-weight: 400;
}
.revenue-option .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width:100%;
  color: white;
  border-bottom: 1px solid var(--sub-color);
}

.info .revenue-info {
  margin-left: 8px;
}
.revenue-option .info a {
  text-decoration: none;
  color: var(--sub-color);
  margin-right: 8px;
}


.modal-header, .modal-footer {
  flex: 1;
  display: flex;
  align-items: center;
}
.modal-header {
  padding-left: 120px;
}
.modal-footer {
  background: var(--sub-color);
  justify-content: end;
  padding-right: 20px;
}
.modal-footer button {
  padding: 6px 12px;
  background: var(--main-color);
  border:none;
  outline:none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: var(--sub-color);
  cursor: pointer;
}

.hide {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

svg {
  width: 12px;
}